<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        #{get 'moreStyles' /}
        <script src="@{'/public/javascripts/jquery-2.1.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    </head>
    <body>
        #{doLayout /}
    </body>
</html>
